#blogNav{
    background-color: lightskyblue;
    color: #24252A;
}

.blogTitle{
    font-family: 'Akronim';
    font-size: 50pt;
    font-weight: 100;
    margin-top: 0;
    margin-bottom: 10px;
    padding: 10px 40px;
    background-color: #24252A;
}

.blogEntry{
    background-color: #44454A;
    color: lightskyblue;
    overflow: hidden;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 75%;
    font-size: 15pt;
}

.blogBody{
    font-family: 'Fugaz One';
    padding-left: 40px;
}

.blogDate{
    color: rgba(135, 206, 250, 0.664);
}

@media(max-width: 600px){
    #root{
        margin: 0;
        padding: 10px;
    }

    .blogEntry{
        width: 100%;
        font-size: 12pt;
    }

    .blogTitle{
        padding: 10px 25px;
        font-size: 35pt;
    }

    .blogBody{
        padding: 0px 25px;
    }
}