#contactNav{
    background-color: lightskyblue;
    color: #24252A;
}

#root{
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#root > h2{
    font-weight: 100;
    background-color: #24252A;
    border-radius: 15px;
    padding: 15px 25px;
    color: lightskyblue;
    font-size: 18pt;
}

.cardRow{
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.linkCard{
    width: 100px;
}

.linkCard > img{
    max-width: 100%;
}

#messageForm{
    width: 90%;
    display: flex;
    flex-direction: column;
}

#messageInput{
    height: 150px;
}

#emailInput{
    width: 20%;
}

label{
    display: flex;
    padding-bottom: 10px;
    flex-direction: column;
}

#formSubmitButton{
    width: 100px;
    height: 25px;
    border-radius: 10px;
    background-color: #24252A;
    color: lightskyblue;
    font-family: 'Fugaz One';
}

#eatenMessage{
    color: red;
    display: none;
}


@media(max-width: 600px){
    #root{
        padding: 10px;
    }
}