#root{
    margin: 0;
}

#familyNav{
    background-color: lightskyblue;
    color: #24252A;
}

#familyHolder{
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.familyCard{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 45%;
    height: 450px;
    border-radius: 20px;
    margin: 10px;
    color: lightskyblue;
    background-color: #24252A;
    overflow: hidden;
    box-shadow: 
    -5px 5px 5px rgba(36, 37, 42, .5),
    5px 5px 5px rgba(36, 37, 42, .5);
}

.familyName{
    position: absolute;
    right: 0;
    padding-right: 50px;
}

.familyCardTop{
    display: flex;
    position: relative;
    align-items: center;
    height: 40%;
    font-family: 'Akronim';
    font-size: 75pt;
}

.familyCard img{
    position: relative;
    height: 100%;
    border-bottom-right-radius: 20px;
    left: 0;
    top: 0;
}

.familyCardBottom{
    height: 60%;
}

.familyCard p{
    margin: 20px 50px;
    font-weight: 100;
    font-size: 18pt;
    font-family: 'Fugaz One'
}

@media (max-width: 600px){
    #root{
        padding: 10px;
        padding-top: 0;
    }

    #familyHolder{
        flex-direction: column;
        width: 100%;
        margin-top: 10px;
    }

    .familyCard{
        width: 100%;
        margin: 10px 0;
    }

    .familyCardTop{
        height: 30%;
        font-size: 50pt;
    }

    .familyCardBottom{
        height: 70%;
    }

    .familyName{
        padding-right: 25px;
    }

    .familyCard p{
        margin: 20px;
        font-size: 14pt;
    }
}