@import url('https://fonts.googleapis.com/css?family=Akronim&display=swap');
@import url('https://fonts.googleapis.com/css?family=Fugaz+One&display=swap');

header{
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    margin: 0;
    padding: 0;
    background-color: #24252A;
    color: lightskyblue;
}

#ziggyFlipped{
    transform: scale(-1, 1);
}

#headerHolder{
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 75%;
}

#headerHolder > h1{
    margin: 0;
    padding: 10px 40px;
    text-align: center;
    font-size: 130px;
    font-family: 'Akronim';
    font-weight: 100;
}

#headerHolder > img{
    height: 200px;
}

#menu-button{
    display: none;
    padding: 10px;
    padding-right: 20px;
    align-self: stretch;
    align-items: center;
    justify-content: center;
}

.navlink{
    margin: 10px 15px;
    padding: 0px 10px;
    border-radius: 25px;
    text-decoration: none;
    font-size: 27px;
    color: lightskyblue;
    font-weight: lighter;
    font-family: 'Fugaz One';
}

.navlink:hover, .navlink:active{
    background-color: lightskyblue;
    color: #24252A;
}

.navbar{    
    flex-grow: 1;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-evenly;
    list-style-type: none;
}

@media (max-width: 600px){
    #ziggyFlipped{
        display: none;
    }

    #headerHolder > img{
        height: 50px;
    }

    #headerHolder > h1{
        padding: 5px 20px;
        font-size: 55px;
    }

    header{
        flex-direction: row;
        box-sizing: border-box;
        height: 100px;
        justify-content: flex-start;
        align-items: center;
    }

    .navbar{
        position: absolute;
        right: 0;
        top: 100%;
        display: none;
        flex-direction: column;
    }

    .navbar.open{
        display: flex;
    }

    #menu-button{
        display: flex;
    }
}