#root{
    margin: 0;
}

#imagesNav{
    background-color: lightskyblue;
    color: #24252A;
}

#images{
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    width: 85%;
    margin: 50px 7.5%;
    flex-wrap: wrap;
}

#images img{
    height: 300px;
    border-radius: 10px;
    margin: 10px 5px;
    box-shadow: 
    -5px 5px 5px rgba(36, 37, 42, .5),
    5px 5px 5px rgba(36, 37, 42, .5);
}